---
import Layout from "../layouts/Page.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import LatestPosts from "../components/LatestPosts.astro";
import { Image } from "astro:assets";
import heroImage from "../../public/placeholder-social.jpg";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>{SITE_TITLE}</h1>
  <p>
    <h2>Hello!</h2>
    Welcome to My personal website!  
  </p>
  <p> 
    Written by “hokmts” who lives and works in japan. 
  </p> 
    Build with <a href="https://astro.build/">Astro</a>, 
      <a href="https://app.netlify.com">netlify</a>.
    Back to the <a href="https://hokmts23.netlify.app">My portfolio</a>.
  <p>
    <a href="mailto:hokmts@tutanota.com">mail to "hokmts"</a>
  </p>
  <p>
    Love the Web, and Have fun! 
  </p>
  <LatestPosts />
</Layout>
